@media only screen and (max-width: 650px) {
  .groceryItem{
    margin-right: 10px;
    margin-top: 30px;
  }
}

.main-container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 100vh;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonsGroup{
  display: flex;
  flex-direction: row;
  justify-items: left;
  justify-content: space-between;
  width: 500px;
  margin-top: 30px;
}

.groceryItemsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.groceryList {
  display: flex;
  flex-wrap: wrap;
}

.groceryItem{
  margin-right: 30px;
  margin-top: 30px;
  background-color: #FFFBE6;
}

.itemCardButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



