.App {
  --primary-color: #356859;
  --primary-color-medium: #37966F;
  --primary-color-light: #B9E4C9;
  --seconday-color: #fd5523;
  --background-color: #FFFBE6;
  background-color: #FFFBE6;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .groceryList{
    margin-top: 50px;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonsGroup{
  display: flex;
  flex-direction: row;
  justify-items: left;
  justify-content: space-between;
  width: 500px;
}

.groceryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.groceryItem{
  margin-right: 50px;
  margin-top: 50px;
}

.main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


