.App {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 font-family: 'Courier New', Courier, monospace;
 flex-wrap: wrap;
 background-color: #F0E7D8;
 height: 100vh;
}
@media only screen and (max-width: 650px) {
  .groceryList{
    margin-top: 50px;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputField{
  display: flex;
  flex-direction: column;
}

.fields label{
  margin-top: 15px;
  font-weight: bold;
}

.fields input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.fields button{
  width: 100px;
  height: 30px;
  margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  background: #A63A50;
  color: white;
}

.fields button:hover{
  cursor: pointer;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
}

.groceryList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 410px;
}

.groceryItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
}

.item {
  text-align: center;
  width: 150px;
}
.amount{
  text-align: center;
  width: 50px;
}
.store{
  text-align: center;
  width: 150px;
}

.groceryList button{
  width: 100px;
  height: 30px;
  margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  background: #A63A50;
  color: white;
}

.clearButton{
  display: flex;
  justify-content: space-around;
}

.clearButton button:hover{
  cursor: pointer;
}